body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  background-color: #e9edee;
}

header {
  background-color: #222f3f;
  padding-left: 3%;
}

img {
  padding-top: 1%;
  padding-bottom: 1%;
}

ul {
  background-color: #364757;
  font-size: small;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  padding: 1%;
}

li {
  display: inline-block;
}

a:visited {
  color: #eaeaea;
}

a:link {
  color: #eaeaea;
}

.shopping {
  text-align: center;
}

.container {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 40px 70px 30px;
}

section {
  background: url(../img/bg-image.png);
  width: 1124px;
  margin: auto;
  color: white;
  padding: 50px;
  font-weight: bold;
}

h2.shop {
  background-color: #f56600;
  margin: 20px;
  color: white;
  font-size: small;
  text-align: center;
  padding: 0.8%;
}

main div img {
  width: 240px;
  height: 300px;
  margin-left: 10px;
  padding: 15px;
  border-radius: 15%;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.125);
  object-fit: cover;
}

.container h3 {
  margin-left: 30px;
}

article img {
  width: 96.8%;
  margin-left: 20px;
  margin-right: 20px;
}
h3 {
  font-weight: 600;
}

span {
  font-size: small;
  color: #34868e;
  font-weight: 700;
  padding-left: 10px;
}

p.backtotop {
  background-color: #364757;
  color: white;
  text-align: center;
  padding: 12px;
  font-weight: 700;
  font-size: small;
}

footer {
  background-color: #222f3e;
  justify-content: center;
  align-items: center;
}

.footerlogo {
  width: 130px;
  padding: 50px;
  display: block;
  margin: 0 auto;
}
