body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

header {
  background-color: #222f3f;
  padding-left: 3%;
}

img {
  padding-top: 1%;
  padding-bottom: 1%;
}

ul {
  background-color: #364757;
  font-size: small;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  padding: 1%;
}

li {
  display: inline-block;
}

a:link {
  color: white;
  text-decoration: none;
}

section {
  margin: 20px;
}

p.shop {
  background-color: #f56600;
  color: white;
  font-size: small;
  text-align: center;
  padding: 1%;
}

section.guide {
  background-repeat: repeat-x;
}
